
*.pyc
*.png
*.egg
*.tif
*.bmp
*.log
*.mat
*.pth
*.tar
/UDL/results/*
/UDL/dev/*
/udl.egg-info/*
/UDL/pansharpening/evaluation_bak/*
/UDL/pansharpening/results/*
/UDL/Weights/*
/dist/*
/build/*
/UDL/derain/compared_CNN/Clear_TIP17_training_code/TIP17_training_code/model/*
/UDL/derain/compared_trans/DFTL/*
/DFTL/*
*.txt

.idea
